@import url(https://fonts.googleapis.com/css?family=Ubuntu:400, 500);

:root {
  --green: #29dd33;
  --black: #111;
  --gray: #99a3b7;
  --dark-gray: #212836;
  --blue: #528bff;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background: var(--black);
}

/* additions */
.ba1 {
  border-style: solid;
  border-width: 2px;
}

.round1 {
  border-radius: 1rem;
}

/* end additions */

/* color palette */
.bg-blue {
  background-color: var(--blue);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.b--green {
  border-color: var(--green);
}

.green {
  color: var(--green);
}

/* end color palette */

header {
  grid-area: nav;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  color: var(--green);
}

.window > header {
  /* text-transform: uppercase; */
  /* font-size: 2rem; */
  /* text-align: center; */
  /* border: solid 2px var(--green); */
  /* width: 90%; */
}

.window > aside {
  float: right;
  /* transform: rotate(90deg); */
  border-left: solid 2px var(--green);
  border-right: solid 2px var(--green);
  border-top: solid 2px var(--green);
  /* padding: 0.5rem; */
  border-top-right-radius: 10px;
}

.window > div.body {
  padding: 1rem;
  border-left: solid 2px var(--green);
  border-right: solid 2px var(--green);
  border-bottom: solid 2px var(--green);
  /* width: 90%; */
}

.window > footer {
  /* width: 90%; */
  font-size: 0.5rem;
  text-align: center;
}

/* .option-bar {
  border: solid 2px var(--green);
} */
